{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<section class="galeria">
    <div class="cards">
        <h2 class="cards__titulo">Buscar...:</h2>
        <ul class="cards__lista">
            {% if cards %}
            {% for fotografia in cards %}
            <li class="card">
                <a href="{% url 'galeria.imagem' fotografia.id %}">
                    {% if fotografia.foto == "" or fotografia.foto == null %}
                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.jpg' %}" alt="{{ fotografia.legenda }}">
                    {% else %}
                    <img class="card__imagem" src="{{fotografia.foto.url}}" alt="{{ fotografia.legenda }}">
                    {% endif %}
                </a>
                <span class="card__tag">{{fotografia.obter_categoria }}</span>
                <div class="card__info">
                    <p class="card__titulo">{{fotografia.nome}}</p>
                    <div class="card__texto">
                        <p class="card__descricao">{{fotografia.legenda}}</p>
                        <span>
                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                        </span>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <li>
                <p class="imagem__texto">Fotografias não encontradas</p>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
{% endblock %}